@{
    ViewBag.Title = "Welcome";
}

<div class="row">
    <div class="col-8">
        <h1 id="blender_title">blender</h1>
        <p class="lead">create, share, and change your food</p>
        <p><a href="/recipes" class="button home-button">get started!</a></p>
    </div>
    <div class="col-4">
        <img id="blender_blender" src="/Content/images/blender-icon-black.svg"/>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>create a recipe</h2>
        <p>
            don't settle for the few recipes that come with blender. make your own delicious recipes and let your creativity flow!
        </p>
        <p><a class="button home-button" href="/recipes/create">write a recipe</a></p>
    </div>
    <div class="col-md-4">
        <h2>categories</h2>
        <p>all the recipes are categoried in various ways. you can choose whatever system suits you best. check out the different categories here!</p>
        <p><a class="button home-button" href="/categories">check it out</a></p>
    </div>
</div>