@model blender.Models._category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
    </dl>


    @foreach (var item in Model.recipes)
    {
        {
            Html.RenderPartial("_recipe_teaser", new ViewDataDictionary {
              { "recipe_id", item.recipe_id },
              { "name", item.name },
              { "image_url", item.image_url },
              { "skill_level", item.skill_level } });
        }
    }

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
