@model blender.Models._category

@{
    ViewBag.Title = "category";
}

<div class="row mb-4">
    <div class="col-8">
        <p id="title">@Html.DisplayFor(model => model.name)</p>
    </div>
    <div class="col-4 center-contents">
        @Html.ActionLink("categories", "Index", null, null, new { @class = "button create-button my-auto mx-auto"} )
    </div>
</div>

<div>

    <div class="grid">
        @foreach (var item in Model.recipes)
        {
            {
                Html.RenderPartial("_recipe_teaser", new ViewDataDictionary {
                { "recipe_id", item.recipe_id },
                { "name", item.name },
                { "image_url", item.image_url },
                { "skill_level", item.skill_level } });
            }
        }
    </div>
</div>
