@model IEnumerable<blender.Models.category>

@{
    ViewBag.Title = "categories";
}

<div class="row mb-4">
    <div class="col-8">
        <p id="title">categories</p>
    </div>
    <div class="col-4 center-contents">
        @Html.ActionLink("add category", "Create", null, null, new { @class = "button create-button my-auto mx-auto"} )
    </div>
</div>

<table class="table">

@foreach (var item in Model) {
    <tr>
        <td class="category_display">
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.ActionLink("recipes in category", "Details", new { id = item.name }, new { @class = "button smaller-button my-auto mx-auto"})
            @Html.ActionLink("delete category", "Delete", new { id = item.name }, new { @class = "button smaller-button my-auto mx-auto"})
        </td>
    </tr>
}

</table>
