@model IEnumerable<blender.Models._recipe>

@{
    ViewBag.Title = "recipes";
}

<div class="row mb-4">
    <div class="col-8">
        <p id="title">recipes</p>
    </div>
    <div class="col-4 center-contents">
        @Html.ActionLink("write a recipe", "Create", null, null, new { @class = "button create-button my-auto mx-auto"} )
    </div>
</div>


<div class="grid">
    @foreach (var item in Model)
        {
            {Html.RenderPartial("_recipe_teaser", new ViewDataDictionary {
              { "recipe_id", item.recipe_id },
              { "name", item.name },
              { "image_url", item.image_url },
              { "skill_level", item.skill_level },
              { "categories", string.Join("%", item.categories.ToArray()) } });
            }
        }
</div>
